/* blanco: f6f7eb
negro: 393e41
rojo: fe3509
celeste: 3f88c5
aqua: 44bba4 
links: 2792ad*/
html{
    font-family: "Ubuntu", sans-serif;
}
a{
    text-decoration: none;
    color: #2792ad;
    font-weight: 700;
}
a:hover{
    opacity: 0.7;
}
.title{
    text-transform: uppercase;
    text-align: center;
}
.container{
    background: #44bba4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #44bba4, #3f88c5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #44bba4, #3f88c5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh; /* Para abarcar todo el alto de la pantalla (view height - en ancho es vw) */
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    max-width: 920px;
    width: 85%;
    height: 80vh;
    background-color: #f6f7eb;
    /*box-shadow: diferenciaHorizontal diferencia Vertical desenfoque amplitud colorSombra */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    position: relative;
    overflow: scroll;
}
.content{
    padding: 1em;
}
td{
    display: block;
    width: 100%;
}
td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #44bba4;
}
th{
    display: none;
}
.table{
    width: 100%;
    border-spacing: 0;
}
.table td, .table th{
    padding: 1em;
    text-align: left;
}
.table tr:nth-child(even){
    background-color: #44bba325
}
.fa-star{
    color: #ffc400;
}
.title-item{
    /* border-bottom-style: solid;
    border-width: 2px;
    border-color: #44bba4; */
    font-size: 1.5em;
    border-bottom: solid 2px #44bba4;
    padding-bottom: 1em;
    text-transform: uppercase;
}
.address{
    font-weight: bold;
    color: #3f88c5;
    font-size: 1.2em;
    margin-top: 2em;
    display: inline-block;
}
.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}
.main-image{
    float: left;
    margin-right: 1em;
    height: 250px;
}
.position{
    background-color: #44bba4;
    color: #f6f7eb;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
    float: left;
}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}
.close{
    height: 40px;
    width: 40px;
    color: #f6f7eb;
    border-radius: 50%;
    background-color: #3f88c5;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 100%;
}
@media (min-width: 900px){
    td{
        width: auto;
        display: table-cell;
    }
    td:nth-of-type(1){
        font-size: 1em;
        font-weight: normal;
        color: black;
    }
    th{
        display: table-cell;
    }
    .content{
        padding: 1.8em;
        overflow: unset;
    }
    .position{
        float: none;
    }
    .address{
        display: inline;
    }
}
@media (min-height: 550px){
    .content{
        height: 500px;
    }
}